.list-group-item{
    display: flex; 
    
}
.list-group{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid black;
    max-width: 800px;
    -webkit-box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
}

.card{
    margin-right: 10px;
}

h1{
    font-size: 18px;
}
p{
    position: relative;
    left: 5px;
    font-size: 14px;
}

input[type='checkbox']{
    position: relative;
    top: 46px;
    left: 25px;
}

.fa-edit{
    position: relative;
    top: 7px;
    left: 10px;
}
.fa-edit:hover{
    cursor: pointer;
    color: crimson;
}

a{
    text-decoration: none;
    color: black;
}

.modify{
    height: 5px;
    width: 5px;
}

