.mayor{
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}


.Planned,.Completed,.InProgress,.Totals{
    border: black solid 3px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 250px;
    background-color:lightcoral;
    -webkit-box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 0px -3px rgba(0,0,0,0.75);
}
p{
    margin-left: 15px;
    color: white;
    font-weight: 500;
}
h1{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.valor{
    position: relative;
    left: 140px;
    bottom: 31px;
    font-weight: 500;
}