<div class="mayor">
    <div class="Planned">
        <h1>Planned</h1>
        <p>Number of tasks:</p> <div class="valor">{{ tareasPlanned }}</div>
        <p>Remaining hours:</p> <div class="valor">{{ tareasPlannedTime }}</div>
    </div>

    <div class="Completed">
        <h1>Completed</h1>
        <p>Number of tasks:</p><div class="valor">{{ tareasCompleted }}</div>
        <p>Remaining hours:</p><div class="valor">{{ tareasCompletedTime }}</div>
    </div>

    <div class="InProgress">
        <h1>In Progress</h1>
        <p>Number of tasks:</p><div class="valor">{{ tareasInProgress }}</div>
        <p>Remaining hours:</p><div class="valor">{{ tareasInProgressTime }}</div>
    </div>

    <div class="Totals">
        <h1>Totals</h1>
        <p>Number of tasks:</p><div class="valor">{{ Totals }}</div>
        <p>Remaining hours:</p><div class="valor">{{ TotalsTime }}</div>
    </div>
</div>