.formPop{
    position: fixed;
    top: 10vh;
    left: calc(50vw - 175px);
    background-color: white;
    border: solid 6px lightgreen;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.errorMSJ{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    margin-left: 5px;
}
input,textarea,select{
    border-radius: 5px;
    border: solid 1px black;
}


/*al error le damos inspeccionar (en el navegador) chequeamos las clases que le asigna angular automaticamente y
las usamos para darle css dinamico*/
input.ng-pristine.ng-invalid.ng-touched{
    border: green solid 3px;
    border-radius: 5px;
}


@media (max-width:450px){
    .formPop{
        left: calc(50vw - 81px);
        width: 162px;
        top: 0vh;
    }
}