.formPop{
    position: fixed;
    top: 10vh;
    left: 40vw;
    background-color: white;
    border: solid 6px crimson;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errorMSJ{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    margin-left: 5px;
}
input,textarea,select{
    border-radius: 5px;
    border: solid 1px black;
}

button{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
    background-color: darkgray;
    padding: 3px 15px 3px 15px;
}
